.toolbar {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius:  0;

}

.search-container {
    flex-grow: 1;
    max-width: 250px;
}

.action-container {
    flex-grow: 1;
}

