.menubar {
    border: 0;
    position: sticky;
    top: 0;
    border-radius: 0;
    z-index: 2;
}

.menubar-end {
    display: flex;
    align-items: center;
    gap: 1rem;  
}
.menubar-start {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menubar-logo {
    flex-shrink: 0;
}

.menubar-title {
    flex-shrink: 1;
}



ul {
  border-radius: 0;
}

@media (max-width: 768px) {
  .menubar-title {
    display: none;
  }
}


@media (max-width: 320px) {
  .menubar-logo {
    display: none;
  }

  .menubar {
    padding-left: 0;
  }
}

.header-links {
  color: red !important;
}

.theme-value, .theme-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}