:host {
    min-width: 400px;
}

.form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}