:host {
    min-width: 400px;
    min-height: 400px;
}


.form {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}

.footer {
    display: flex;
    gap: 0.5rem;
}

.skeleton-container, .skeleton-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.skeleton-group {
    flex-direction: column;
    gap: 0.5rem;
}


.skeleton-input {
    height: 3rem !important;
}

.skeleton-container, input {
    width: 100%;
}

.error-messages span {
    color: red;
}
